@model IEnumerable<AlbaCaZapada.Models.Payment>

<form method="get" asp-action="Index">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-8">
                <h2 class="text-primary text-black-50">Istoric plati: @ViewData["StudentName"]</h2>
            </div>
            <div class="col-4">
                <a class="btn btn-success fa-pull-right fas fa-plus" asp-controller="Payment" asp-action="AddPayment" asp-route-Id="@ViewData["StudentId"]">Adauga plata</a>
                <h4>Balanta: @ViewData["Ballance"] RON</h4>
            </div>
        </div>
        <br />
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Luna
                        </th>
                        <th>
                            Zile lucratoare
                        </th>
                        <th>
                            Zile Prezenta
                        </th>
                        <th>
                            Zile Absenta
                        </th>
                        <th>
                            Data platii
                        </th>
                        <th>
                            Suma (RON)
                        </th>
                        <th>
                            Diferenta
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr>
                            <td width="20%">@payment.Month.ToString()</td>
                            <td width="10%">@payment.WorkingDaysInMonth</td>
                            <td width="10%">@payment.DaysInSchool</td>
                            <td width="10%">@payment.DaysOutSchool</td>
                            <td width="10%">@payment.PaymentDate.ToString("dd/MM/yyyy")</td>
                            <td width="10%">@payment.Amount</td>
                            <td width="10%">@(payment.Amount - payment.AmountOwed)</td>
                            <td width="20%" class="col-6 text-center">
                                <a class="btn btn-warning" asp-controller="Payment" asp-action="EditPayment" asp-route-Id="@payment.Id">Actualizeaza</a>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nu exista nici o plata pt acest elev!</p>
        }
        @if (ViewData["StudentInSchool"].ToString() == "True")
        {
            @if ((decimal)ViewData["Ballance"] < 0)
            {
                <a class="btn btn-success" asp-controller="Payment" asp-action="IndeptedStudents">Inapoi</a>

            }
            else
            {
                <a class="btn btn-success" asp-controller="Student" asp-action="Index">Inapoi</a>
            }
        }
        else
        {
            <a class="btn btn-success" asp-controller="Student" asp-action="InactiveStudents">Inapoi</a>
        }

    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
