@model AlbaCaZapada.View_Models.StudentPaymentViewModel

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <div class="container p-3">
        <div class="col-8">
            <h2 class="text-primary text-black-50">Lista restantieri per grupa:</h2>
            <div class="col-3">
                @Html.DropDownListFor(m => m.Group, Model.Groups, "---Selecteaza Grupa---")
                <br />
                <br />
                @*<input class="btn btn-success" id="Search" value="Afiseaza" onclick="IndeptedStudentsByGroup(@Model.Group)" />*@
                
                <input type="submit" class="btn btn-success" value="Afiseaza" onclick="IndeptedStudentsByGroup(@Model.Group)">
            </div>
        </div>
    </div>


    <br />
        <div id="IndeptedStudentsList">

        </div>




    @section scripts {
            <script type="text/javascript">
                function IndeptedStudents(groupName) {
                    $.ajax({
                        url: '@Url.Action("IndeptedStudents")',
                        type: "POST",
                        data: { group: groupName },
                        dataType: JSON,
                        success: function (response)


                    })
                }


            </script>

        }






    @*<script>
        $(document).ready(function () {
            $("#Search").click( function () {
                var groupSearch = $(this).val();
                $.ajax({
                    url: @Url.Action ("IndeptedStudents", "Payment"),
                    success: function (data) {
                       $("#result")

                    }
                        }
                });
            });
        });</script>*@




