@model IEnumerable<AlbaCaZapada.Models.Student>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary text-black-50">Lista elevi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddStudent" class="btn btn-success fa-pull-right">Adauga elev</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <tr class="text-center">
            <thead>
                <tr>
                    <th>
                        Nume
                    </th>
                    <th>
                        CNP
                    </th>
                    <th>
                        Detalli elev
                    </th>
                    <th>
                        Taxa scolarizare
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td width="35%">@student.Name</td>
                        <td width="15%">@student.CNP</td>
                        <td width="15%">@Html.ActionLink("Detalii", "DetailsStudent", "Student", new { id = student.Id }, null)</td>
                        <td width="15%">@Html.ActionLink("Istoric Plati", "Index", "Payment", new { id = student.Id}, null)</td>
                        <td width="20%" class="col-6 text-center">
                            <a class="btn btn-warning" asp-controller="Student" asp-action="EditStudent" asp-route-Id="@student.Id">Actualizeaza</a>
                            <a class="btn btn-primary" asp-controller="Student" asp-action="DeleteStudent" asp-route-Id="@student.Id">Sterge</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <p>Nu exista nici un elev in baza de date.</p>
    }

</div>
